.navbar {
  height: 8rem;
  display: grid;
  place-items: center;
  background-color: rgb(127, 255, 212, 0.2);
}
.navbar__nav {
  width: 90rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__btns {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.navbar__btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.navbar__name {
  font-size: 1.6rem;
}
